asgiref==3.4.1
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
cachetools==5.0.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
coverage==5.5
cryptography==3.4.8
cssselect==1.1.0
distlib==0.3.3
Django==3.2.7
docutils==0.17.1
execnet==1.9.0
filelock==3.0.12
flake8==4.0.1
Flask==2.0.1
idna==3.2
importlib-metadata==4.8.1
iniconfig==1.1.1
itsdangerous==2.0.1
jeepney==0.7.1
Jinja2==3.0.1
keyring==23.2.1
lxml==4.6.3
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.0
Pillow==8.3.2
pkginfo==1.7.1
platformdirs==2.3.0
pluggy==1.0.0
py==1.10.0
pycodestyle==2.8.0
pycparser==2.20
pyflakes==2.4.0
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-forked==1.3.0
pytest-xdist==2.4.0
python-dateutil==2.8.2
pytz==2021.1
readme-renderer==29.0
reppy==0.4.14
requests==2.26.0
requests-file==1.5.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
spidy-web-crawler==1.6.5
splinter==0.17.0
sqlparse==0.4.2
tldextract==3.3.0
toml==0.10.2
tox==3.24.4
tqdm==4.62.3
twine==3.4.2
urllib3==1.26.7
virtualenv==20.8.1
waitress==2.0.0
webencodings==0.5.1
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==2.0.1
WSGIProxy2==0.5.1
zipp==3.5.0
zope.cachedescriptors==4.3.1
zope.event==4.5.0
zope.interface==5.4.0
zope.schema==6.1.0
zope.testbrowser==5.5.1
